@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 40% 2%;
    --card: 0 0% 100%;
    --card-foreground: 210 40% 2%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 2%;
    --primary: 199 89% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 200 30% 96%;
    --secondary-foreground: 210 40% 2%;
    --muted: 200 30% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 199 89% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 199 89% 48%;
    --radius: 0.5rem;
    --chart-1: 199 89% 48%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 187 74% 66%;
    --chart-5: 205 87% 67%;
  }

  .dark {
    --background: 210 40% 6%;
    --foreground: 0 0% 98%;
    --card: 210 40% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 210 40% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 199 89% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 199 89% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 199 89% 48%;
    --chart-1: 199 89% 48%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 187 74% 66%;
    --chart-5: 205 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply text-3xl font-bold
}

h2 {
  @apply text-2xl font-semibold
}
